.Titulo{
    text-align: center;
}

.menu{
    padding: 20px;
    text-align: center;
}


.header{
    background: #333333;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.contenido{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

body{
    font-size: 1.2rem;
    background: #b3b3b3;
    margin: 0;
}

h1{
    font-size: 2rem;
}
p{
    font-weight: 85%;
}

.logo-nav-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image1{
    width: 100px;
    height: 100px;
}

.header a{
    color: white;
    text-decoration: none;

}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li{
    display: inline-block;
}

.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.navegacion ul li a:hover{
    background: #4a4a4a;
}

section{
    padding-top: 12rem;
}

footer{
    text-align: center;
}

aside{
    display: inline-block;
}

.main{
    width: 800px;
    min-height: 400px;
    margin: 10px;
    display: inline-block;
}

h3{
    text-align: center;
}



.twitter-tweet{
    width: 250px;
    height: 250px; 
}

.FotoEstudiante{
    width: 200px;
    height: 200px;
    float: right;
}

.Imagen_contenido1{
    width: 600px;
    height: 600px;
}

.twitter-tweet2{
    width: 250px;
    height: 250px; 
    padding-top: 12rem;
}